<!DOCTYPE html>
<html>
 
	<head>
		<title>404</title>
		<meta charset="UTF-8" />
		<style>
			body{
	    		font-family: "Lucida Console", Monaco, monospace;
	    		color: #3D3D3D;
	    		font-size: 16px;
	    		background: #FFFFFA;
	    		line-height: 1.7;
	    	}
	    	a{
	    		color: #2BAB15;
	    		text-decoration: none;
	    	}
	    	.wrapper{
	    		width: 90%;
	    		margin-right: auto;
	    		margin-left: auto;
	    		max-width: 786px;
	    		text-align: center;
	    	}
		</style>
	</head>
 
	<body>
		<div class="wrapper">
			<h1>404</h1>
			<h2>Page not found</h2>
		<div>
	</body>
	
</html>